//main:style.scss

.subheader{
  @include size(60px, 100%);
  @include flex(center, space-between, row);
  background: $white;
  padding   : 0 20px;
}

.subheader{
  top : 60px;
  left: 0;
  position: fixed;
  transform: translate3d(0px, -120px, 0px);

  z-index: 5;
  transition:
    transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform, background-color;
}

.page-subtitle{
  border-right: 1px solid $border-color-2;
  height: 16px;
  padding-right: 20px;
  margin-right: 20px;
  line-height: 18px;
  display: inline;
}

.main-back{
  margin-right: -5px;

}

.slideDown{
  transform: translate3d(0px,0px,0px);
  opacity: 1;
  border-bottom: 1px solid $background-color-3;
}

.back-section{
  @include transition(color);
  transition-duration: 200ms;

  svg{
    @include transition(transform);
    transition-duration: 400ms;
    will-change: transform;
  }

  &:hover{
    color : $blue-1;
    cursor: pointer;
    svg{ transform:translate3d(2px, 0px, 0px)}
  }
}

li{
  list-style: none;
  color:$font-color-2;
  font-weight: 500;
  margin-left: 30px;
  position: relative;
  text-transform: capitalize;
  @media only screen and (max-width: 600px){
    font-size: 16px;
  }
}

.active{
  color: $font-color-1;
  &::after{
    content: '';
    @include size(2px,100%);
    background-color: $blue-1;
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}

li:hover{
  color: $font-color-1;
  cursor: pointer;
}


.level1{

  text-transform: capitalize;
  @media only screen and (max-width: 600px){
    font-size: 16px;
  }
}

#search{
  border-color: transparent;
  background-color: transparent;
  position: relative;
  @media only screen and (max-width: 600px){
    font-size: 16px;
  }
}

.search-icon{
  margin-left: 20px;
}



//responsive

.subheader li{
  @media only screen and (max-width: 600px){
    display: none;
  }
}

.hamburger{
  @include size(12px ,16px);
  @include flex(center, space-between, row);

  position: relative;
  &:before, &:after, .patty{
    content: '';
    border-radius: 1px;
    @include size(2px, 100%);
    background: $font-color-1;
    position: absolute;
  }

  &:before{top:0px}
  &:after{bottom:0px}
}
.hamburger{
  display: none;
  @media only screen and (max-width: 600px){
    display: flex;
  }
}
