//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import 'base';
@import 'header';
@import 'subheader';
@import 'hamburger';
@import 'darkMode';

html{
  @include font;
  @include transition(background-color);
  overflow-y         : scroll;
  background-color   : white;
  transition-duration: 200ms; //for darkMode
}

//general layout
.content, .compress{
  @include size(100%, 100%);
  margin     : auto  ;
  max-width  : 1440px;
}

.content{
  @include flex(flex-start, flex-start, column);
  padding    : 20px  ;
  margin-top : 120px ;
}

.grid{
  @include size(auto, 100%);
  @include grid(300px, 1fr, 30px);
  padding-bottom: 80px;
  text-transform: capitalize;
}

//section grid
.section-title{
  color: $font-color-2;
  margin-bottom : 30px;
  text-transform: capitalize;
}


.double, .full_page-child{
  grid: span 3 / span 2;
  height: 640px;

  @media(max-width: 600px) {
    grid: span 1 / span 1;
    height: 200px;
  }
}

//card

.card{
  background   : $light-grey-3;
  border-radius: 4px;
  &-header{
    padding    : 0 20px;
    background : rgba(0,0,0,0.03);
  }
}

.image{
  @include size(300px, 100%);
  @include flex(center, flex-end, column);
  background: transparent no-repeat center;
}

.market .image{ background-size: 150px }
.gif-child    { background-size: 30px  }
