@charset "UTF-8";
* {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
}

* {
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
  background: #F2F4F6;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]), html select {
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #B8BFCA;
  padding: 11px 10px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  position: relative;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):not(:last-child), html select:not(:last-child) {
  margin-bottom: 20px;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset]):focus, html select:focus {
  outline: none;
  border-color: #22A5F7;
}

html input:not([type=checkbox]):not([type=radio]):not([type=file]):not([type=submit]):not([type=reset])::-webkit-input-placeholder, html select::-webkit-input-placeholder {
  padding-top: 4px;
  vertical-align: middle;
  color: #D5DAE0;
}

html label {
  font: 400 12px/8px "nutanix_soft", san-serif;
  text-align: left;
  width: 100%;
  font-weight: 500;
  color: #627386;
  margin-bottom: 10px;
}

html input[type=submit], html [data-type='primary'] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 500 14px/10px "nutanix_soft", san-serif;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

html input[type=submit]:hover, html [data-type='primary']:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[fw] {
  width: 100%;
}

[ac] {
  align-self: center;
}

[alt] {
  color: #627386;
}

[fade] {
  color: #B8BFCA;
}

[primary] {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

[primary]:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

[primary]:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

[primary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[secondary] {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

[secondary]:hover {
  color: #22A5F7;
  cursor: pointer;
}

[secondary]:active {
  color: #91d2fb;
}

[secondary] span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

[label] {
  background: #f4fbff;
  padding: 2px 5px;
  border-radius: 2px;
  color: #1f88de;
}

[hc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

[hcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

[hsc] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

[hsd] {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

[hcd] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

[vcs] {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

[vss] {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

[vsc] {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

[vc] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
}

h4 {
  font: 400 12px/8px "nutanix_soft", san-serif;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
}

a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

hr {
  height: 1px;
  border: none;
  width: 100%;
  background: #F2F4F6;
}

header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #22272E;
  padding: 0 20px;
  color: #FFFFFF;
}

header {
  top: 0;
  left: 0;
  z-index: 10;
  position: fixed;
}

.page-title {
  margin-left: 20px;
}

.user-title {
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  color: #9AA5B5;
}

.user-title * {
  margin-left: 10px;
}

.user-title polyline {
  transition: stroke 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
  will-change: color;
  stroke: #9AA5B5;
}

.user-title:hover {
  cursor: pointer;
  color: #FFFFFF;
}

.user-title:hover polyline {
  stroke: #FFFFFF;
}

.subheader {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #FFFFFF;
  padding: 0 20px;
}

.subheader {
  top: 60px;
  left: 0;
  position: fixed;
  transform: translate3d(0px, -120px, 0px);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: transform;
  z-index: 5;
}

.page-subtitle {
  border-right: 1px solid #D5DAE0;
  height: 16px;
  padding-right: 20px;
  margin-right: 20px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 11ch;
  overflow: hidden;
  display: inline;
}

.main-back {
  margin-right: -5px;
}

.slideDown {
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  border-bottom: 1px solid #F2F4F6;
}

.back-section {
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 200ms;
}

.back-section svg {
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 400ms;
  will-change: transform;
}

.back-section:hover {
  color: #22A5F7;
  cursor: pointer;
}

.back-section:hover svg {
  transform: translate3d(2px, 0px, 0px);
}

li {
  list-style: none;
  color: #627386;
  font-weight: 500;
  margin-left: 30px;
  position: relative;
}

.active {
  color: #22272E;
}

.active::after {
  content: '';
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  background-color: #22A5F7;
  position: absolute;
  bottom: -25px;
  left: 0;
}

li:hover {
  color: #22272E;
  cursor: pointer;
}

.level1 {
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .subheader li {
    display: none;
  }
}

.hamburger {
  height: 12px;
  width: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.hamburger:before, .hamburger:after, .hamburger .patty {
  content: '';
  border-radius: 1px;
  height: 2px;
  width: 100%;
  box-sizing: border-box;
  background: #22272E;
  position: absolute;
}

.hamburger:before {
  top: 0px;
}

.hamburger:after {
  bottom: 0px;
}

html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  overflow-y: scroll;
  transition: background-color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  max-width: 1400px;
  margin: auto;
  margin-top: 120px;
}

.compress {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.grid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  padding-bottom: 80px;
}

.title {
  text-transform: capitalize;
  margin-bottom: 30px;
  color: #627386;
}

.title a {
  font-weight: 500;
}

.title a:hover {
  text-decoration: underline;
}

.page-nav {
  text-transform: capitalize;
}

.section-title {
  height: 100%;
  width: 600px;
  box-sizing: border-box;
}

.section-content {
  border-left: 1px solid #F2F4F6;
  padding-left: 40px;
}

.guide p {
  font-size: 16px;
  line-height: 1.75;
}

.guide h3 {
  font-size: 18px;
}

a:hover {
  text-decoration: none;
}

.image {
  height: 300px;
  width: 200px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-color: #F2F4F6;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  padding: 10px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
}

.image:hover {
  cursor: pointer;
}

.review {
  pointer-events: none;
  opacity: 0.3;
}

.gif-child {
  background-size: 30px;
}

.image button {
  border: none;
  pointer-events: none;
  color: #627386;
  background: white;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 4pc;
  opacity: 0;
  transform: translate3d(0, 5px, 0);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media only screen and (max-width: 600px) {
  .image button {
    opacity: 1;
  }
}

.image:hover button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  color: #22A5F7;
}

.dark-html {
  background-color: #22272E;
}

.dark-html .page-selection {
  background-color: #191B20;
}

.dark-html .page-selection li {
  color: white;
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 600px) {
  .hamburger {
    display: flex;
  }
}

.dark-subheader {
  background-color: #191B20;
  color: white;
  border-bottom: none;
  overflow: hidden;
}

.dark-subheader .page-subtitle {
  border-color: #627386;
}

.dark-subheader li.active {
  color: white;
}

.dark-subheader li:hover {
  color: white;
}

.dark-subheader .hamburger:before, .dark-subheader .hamburger:after, .dark-subheader .patty {
  background-color: white;
}

.dark-subheader:before {
  content: ‘’;
  width: 100%;
  height: 60px;
  background: inherit;
  position: absolute;
  top: 60px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.3);
  filter: blur(10px);
}

.svg_animations {
  pointer-events: none;
}

.double, .full_page-child {
  grid-column: span 2;
  grid-row: span 2;
  height: 640px;
}

@media only screen and (max-width: 600px) {
  .double, .full_page-child {
    grid-column: span 1;
    grid-row: span 1;
    height: 200px;
  }
}

.page-selection, .page-nav, ul {
  width: 100%;
}

.page-selection {
  position: fixed;
  top: 120px;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  background-color: #F2F4F6;
  left: 0;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

.page-selection .page-nav {
  margin: 0;
  padding: 0;
}

.page-selection ul {
  padding-top: 10px;
  margin: auto;
  width: 100%;
}

.page-selection ul li {
  font: 400 18px/12px "nutanix_soft", san-serif;
  color: #22272E;
  margin-left: -40px;
  padding-left: 20px;
  line-height: 40px;
}

.page-selection ul li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.01);
}
