//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';
@import 'base';
@import 'header';
@import 'subheader';


html{
  @include font;
  background-color: white;
  overflow-y:scroll;
  @include transition(background-color);
}

blockquote{
  width: 100ch;
  line-height: 1.75;
  margin: 0;
}

.comment{
  background-color: $semi-white-blue;
  @include size( auto, 100%);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: -30px;
  color:$dark-blue-2;
  border-radius: 4px;
  text-transform: none;
}

.content{
  @include flex(flex-start, flex-start, column);
  @include size(100%, 100%);
  padding: 20px 20px;
  max-width: 1440px;
  margin: auto;
  margin-top: 120px;
}

.compress{
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.grid{
  @include flex(flex-start, flex-start, column);
  @include size(auto, 100%);
  @include grid(300px, 1fr, 30px);
  padding-bottom: 80px;

}



.title{
  text-transform: capitalize;
  margin-bottom: 30px;
  color: $font-color-2;
  a{
    font-weight: 500;
    &:hover{text-decoration: underline;}
  }
}

.page-nav{
  text-transform: capitalize;
}
.section-title{
  @include size(100%, 600px);
}

.section-content{
  border-left: 1px solid $background-color-3;
  padding-left: 40px;
}

.guide{
  // max-width: 100ch;
  p{
    font-size: 16px;
    line-height: 1.75;
  }
  h3{
    font-size: 18px;
  }
}


a:hover{
  text-decoration: none;
}



.image{
  @include size(300px, 200px);
  @include flex(center, flex-end, column);
  background-color: #F2F4F6;
  width:100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  padding: 10px;
  @include transition(all);
  position: relative;
  &:hover{
    cursor: pointer;
    // @include shadow();
  }
}

.market{
  .image{
    background-size: 150px;
  }
}


.review{
  pointer-events: none;
  opacity: 0.3;
}

.gif-child{
  background-size: 30px;
}

// .approved {
//    a:nth-child(1),a:nth-child(10), a:nth-child(14), a:nth-child(17),a:nth-child(29){
//     grid-column: span 2;
//     grid-row: span 2;
//     background-size: cover;
//     .image{height: 440px;}
//     @media only screen and (max-width: 600px){
//       grid-column: span 1;
//       grid-row: span 1;
//       .image{height: 200px;}
//     }
//   }
// }

.image button{
  border: none;
  pointer-events: none;
  color:$font-color-2;
  background: white;
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 4pc;
  opacity: 1;
  transform: translate3d(0, 5px, 0);
  @include transition(all);


  @media only screen and (max-width: 600px){
    opacity: 1;
  }
}


.image:hover button{
  opacity: 1;
  transform: translate3d(0, 0, 0);
  color: $blue-1;
}

kbd{
  font-family: 'Menlo';
  color: $dark-blue-1;
  font-size: 13px;
  background-color: $semi-white-blue;
  padding: 5px 10px;
  border-radius: 2px;
}

//dark mode

.dark-html{
  background-color: $dark-grey-1;
  .page-selection{
    background-color: #191B20;
    li{color:white;}
  }
}

.hamburger{
  display: none;
  @media only screen and (max-width: 600px){
    display: flex;
  }
}

.dark-subheader{
  background-color: #191B20;
  color:white;
  border-bottom: none;
  overflow: hidden;
  .page-subtitle{border-color: $grey-1;}

  li.active{
    color:white;
  }

  li:hover{
    color:white;
  }

  .hamburger:before, .hamburger:after, .patty{background-color: white}



  &:before{
   content: ‘’;
   width: 100%;
   height: 60px;
   background: inherit;
   position: absolute;
   top: 60px;   //giving minus -25px top position
   bottom: 0;
   box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
   filter: blur(10px);}
}

.dark-image{
  // background-color: $light-blue-2;
}

.svg_animations{
  pointer-events: none;
}

.double, .full_page-child{
  grid-column: span 2;
  grid-row: span 2;
  height: 640px;

  @media only screen and (max-width: 600px){
    grid-column: span 1;
    grid-row: span 1;
    height: 200px;
  }
}



.page-selection, .page-nav, ul{width: 100%}

.page-selection{
  position: fixed;
  top: 120px;
  display: none;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  background-color: $background-color-3;
  left: 0;
  @include shadow();

  .page-nav{
    margin: 0;
    padding: 0;
  }

  ul{
    padding-top: 10px;
    margin: auto;
    width: 100%;
    li{
      font: $h2;
      color: $font-color-1;
      margin-left: -40px;
      padding-left: 20px;
      line-height: 40px;
    }
    li:nth-child(even){
      background-color: rgba(0,0,0,0.01);
    }
  }
}
